.Div-main {
    
    /* align-items: center;*/
    
    /*text-align: center;
	margin: 0 auto;
	border: 1px solid #f97200;*/
    /*width: 190px;
	padding: 10px;
    display: flex;
    justify-content: center;*/
    
    /*display: flex;
    justify-content: center;
    align-items: center;position: absolute;*/
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 10vh;
    width: 20vh;
    background:red;
    position: absolute;
}